
<style>
    .tableData{
        color:white;
    }

</style> 

<!-- View list of all equipment-->
<div class="table-wrapper">
  <h2 class="tableData">View All Racquets</h2>
  <!-- Adds titles to table-->
  <% if (Racquet.length > 0) {%>
    <body>
    <table class="table table-hovered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Product Number</th>
        <th scope="col">Racquet Length</th>
        <th scope="col">Age Group</th>
        <th scope="col">Racquet Weight</th>
      </tr>
      </thead>
      <tbody>
        <!-- Retrieves equipment and displays in table-->
      <% Racquet.forEach((racquet, index) => { %>
        <tr>
          <th scope="row" class="tableData"><%= Racquet.productNo %></th>

          <td class="tableData"><%= racquet.productNo %></td>
          <td class="tableData"><%= racquet.rLength %></td>
          <td class="tableData"><%= racquet.ageGroup %></td>
          <td class="tableData"><%= racquet.rWeight %></td>
          <td>
            <a href="/racquets/<%= Racquet.productNo %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">View Racquets</a>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <p class="text-center" class="tableData">Nothing found!</p>
  <% } %>
</div>
</div>
</body>
</html>