<% include partials/header.ejs %>
<div class="table-wrapper">
    <h2>Search Customers</h2>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  
    <form method="post">
        <label for="customerEmail">Customer Email </label>
        <input type="text" id="customerEmail" name="customerEmail">
        <input type="submit" name="submit" value="View Results">
    </form>
<style>
  .tableData{
  color:black;
}
  </style>
  

  <!-- View training sessions-->
    <body>
    <table class="table table-hovered">
      <thead class="thead-dark">
        <!-- Display columns for session-->
        <h2>Results</h2>
        <blockquote>All customers placed by Customer.customerEmail</blockquote>
      <tr>
        <th scope="col">Customer Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Employee ID</th>

      </tr>
      </thead>
      <!-- Add booked  sessions to table -->
      <tbody>
        <tr>
          <th scope="row" class="tableData"><%= customers.customerEmail %></th>
          <td class="tableData"><%= customers.fName %></td>
          <td class="tableData"><%= customers.lName %></td>
          <td class="tableData"><%= customers.cPhone %></td>
          <td class="tableData"><%= customers.employeeID %></td>
        </tr>
      </tbody>
    </table>
    <!-- Default text if no transactions-->
    <blockquote>No results found for customer.employeeID</blockquote>
</div>
</div>
</body>
</html>
