<% include partials/header.ejs %>
<div class="table-wrapper">
    <a href="/transactions">Back to Transactions</a>
    <h2>Find Customer Transaction History</h2>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  
    <form method="post">
        <label for="customerEmail">Customer Email </label>
        <input type="text" id="customerEmail" name="customerEmail">
        <input type="submit" name="submit" value="View Results">
    </form>
  <% if (transactions.length > 0) {%>
<style>
  .tableData{
  color:black;
}
  </style>
  

  <!-- View training sessions-->
    <body>
    <table class="table table-hovered">
      <thead class="thead-dark">
        <!-- Display columns for session-->
        <h2>Results</h2>
        <blockquote>All transactions placed by transactions.customerEmail</blockquote>
      <tr>
        <th scope="col">Transaction ID</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Time</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>

      </tr>
      </thead>
      <!-- Add booked  sessions to table -->
      <tbody>
      <% transactions.forEach((transaction, index) => { %>
        <tr>
          <th scope="row" class="tableData"><%= transaction.transactionID %></th>
          <td class="tableData"><%= transaction.employeeID %></td>
          <td class="tableData"><%= transaction.tTime %></td>
          <td class="tableData"><%= transaction.tDate %></td>
          <td class="tableData"><%= transaction.totalPrice %></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <blockquote>No results found for transactions.customerEmail</blockquote>
  <% } %>
</div>
</div>
</body>
</html>
